<div id="phaser-example"></div>
<div id="toast-holder"></div>
<dialog id="event-dialog">
  <form method="dialog">
    <section>
      <p><strong id="event-title">A Important Message</strong></p>
      <p id="event-description">
        I have a juicy and voluptious ass and it bounce bounce bounce bounce
        bounce bounce bounce bounce bounce bounce bounce bounce bounce bounce
        bounce bounce bounce bounce bounce bounce
      </p>
    </section>
    <menu>
      <button type="submit">OK</button>
    </menu>
  </form>
</dialog>
