/* You can add global styles to this file, and also import other style files */
html,
body,
div#phaser-example {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(assets/fonts/caviar_dreams/CaviarDreams.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url(assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url(assets/fonts/caviar_dreams/CaviarDreams_Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(assets/fonts/caviar_dreams/CaviarDreams_BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
* {
  font-family: "Caviar Dreams", sans-serif;
  cursor: url("assets/cursor.png"), auto;
  box-sizing: border-box !important;
}
.capitalize {
  text-transform: capitalize;
}
//wow so french
.ui-element {
  position: absolute;
}
.ui-width-100 {
  width: 100%;
}
.dark-primary-text-color {
  color: #633;
}
.light-primary-text-color {
  color: wheat;
}
//Gay positions
.ui-pos-topright {
  top: 0px;
  right: 0px;
  margin: 8px 8px 0px 0px;
}
.ui-pos-bottomright {
  bottom: 0px;
  right: 0px;
  margin: 0px 8px 8px 0px;
}
.ui-pos-topleft {
  top: 0px;
  left: 0px;
  margin: 8px 0px 0px 8px;
}
.ui-pos-bottomleft {
  bottom: 0px;
  left: 0px;
  margin: 0px 0px 8px 8px;
}
.ui-pos-center {
  top: 50%;
  left: 50%;
  margin: 8px 0px 0px 8px;
  transform: translate(-50%, -50%);
  margin: 0px 0px 0px 0px;
}
.ui-pos-topcenter {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin: 8px 0px 0px 0px;
}
.ui-pos-bottomcenter {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin: 8px 0px 8px 0px;
}
.ui-pos-leftcenter {
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  margin: 0px 0px 0px 8px;
}
.ui-pos-rightcenter {
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  margin: 0px 8px 0px 0px;
}
.ui-display-column {
  display: flex;
  flex-direction: column;
}
.ui-display-row {
  display: flex;
  flex-direction: row;
}

//elements
.ui-panel {
  background: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  min-width: 123px;
  gap: 4px;
}

button.ui-game-button {
  padding: 8px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
  transition: 0.02s;
  background-color: #f2f2f2;
  &:not(:disabled):hover {
    background-color: #fafafa;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  &:not(:disabled):active {
    background-color: #fafafa;
    transform: scale(0.98);
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  }
  :disabled {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-color: #d3d3d3;
  }
}

//specific named elements
button.rest-button {
  bottom: 0px;
  right: 0px;
  margin: 8px;
  font-size: 1.2em;
}
.mainmenu-button-holder {
  gap: 8px;
}
.mainmenu-button {
  font-size: 1.8em;
  backdrop-filter: blur(2.5px);
  color: wheat;
  background-color: rgba(255, 255, 255, 0.25) !important;
  transition: 0.1s !important;
  &:hover,
  &:active {
    text-shadow: 0 0 3px wheat;
  }
}
.introduction-panel {
  backdrop-filter: blur(2.5px);
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  max-height: 85vh;
  width: 70vw;
  padding: 16px;
  font-size: 1.6em;
  p {
    color: wheat;
    margin: 8px 0 20px 0;
  }
  .names-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    .name-option {
      width: calc(33% - 4px);
      min-width: fit-content;
      font-size: 1em;
      backdrop-filter: blur(2.5px);
      color: wheat;
      padding: 8px;
      background-color: rgba(255, 255, 255, 0) !important;
      transition: 0.1s !important;
      &:hover,
      &:active {
        text-shadow: 0 0 3px wheat;
      }
    }
  }
  section {
    overflow-y: auto;
    scrollbar-color: wheat rgba(0, 0, 0, 0);
    scrollbar-width: thin;
  }
  menu {
    align-self: flex-end;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    button {
      width: calc(33% - 4px);
      min-width: fit-content;
      font-size: 1em;
      backdrop-filter: blur(2.5px);
      color: wheat;
      padding: 8px;
      background-color: rgba(255, 255, 255, 0) !important;
      transition: 0.1s !important;
      &:hover,
      &:active {
        text-shadow: 0 0 3px wheat;
      }
    }
  }
}

//notifications stuff
::backdrop {
  pointer-events: none;
}
dialog.dialog-element {
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;

  button.dismiss {
    position: absolute;
    background: none;
    outline: 0px;
    border: 0px;
    font-size: 2em;
    left: 100%;
    top: 0;
    margin-left: -39px;
    margin-top: -6px;
    &:hover {
      transform: scale(1.05);
    }
  }
  progress.dialog-closing-progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0px;
    bottom: -0px;
    border-radius: 0px;
    height: 6px;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  menu {
    margin: 0px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  z-index: 9998;
}

div#toast-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  top: 0px;
  gap: 2px;
  padding: 2px;
  pointer-events: none;
  z-index: 9999;
  div.toast-element {
    z-index: 10000;
    &.removed {
      margin-top: -50px; /* Pequeno movimento para cima ao sumir */
      opacity: 0; /* Gradualmente fica invisível */
      pointer-events: none;
    }
    position: relative;
    margin: 0px;
    display: block;
    height: fit-content;
    width: 390px;
    max-width: 90vw;
    align-self: start;
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
    padding: 8px;
    text-overflow: ellipsis;
    pointer-events: none;
    transition: margin-top 0.5s ease, opacity 0.3s ease;
    strong {
      display: block;
      position: absolute;
      margin-left: 96.5%;
      margin-top: -13px;
      font-size: 1.2em;
      text-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black,
        2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black;
    }
  }
}

.dialog-company-element {
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);

  .info-member-panel {
    display: flex;
    align-items: flex-start;
  }

  .member-button-holder {
    overflow-x: auto;
    white-space: nowrap;
    padding: 4px 0px;

    button {
      margin-right: 8px;
    }
  }
  .stats-holder {
    strong {
      text-transform: capitalize;
    }
    tbody {
      tr {
        td {
          min-width: 15px;
          text-align: end;
        }
      }
    }
  }
  .gauge-holder {
    .gauge-value {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }
    progress {
      border-radius: 16px;
      overflow: hidden;
      height: 8px;
      &.VITALITY {
        border: 1px solid #d33;
        background-color: #d33 !important;
        &::-moz-progress-value {
          background-color: #d33 !important;
        }

        &::-webkit-progress-value {
          background-color: #d33 !important;
        }
      }
      &.STAMINA {
        border: 1px solid #5a5;
        background-color: #5a5 !important;
        &::-moz-progress-value {
          background: #5a5 !important;
        }
        &::-webkit-progress-value {
          background: #5a5 !important;
        }
      }
      &.MANA {
        border: 1px solid #3ac;
        background-color: #3ac !important;
        &::-moz-progress-value {
          background-color: #3ac !important;
        }
        &::-webkit-progress-value {
          background-color: #3ac !important;
        }
      }
      &::-moz-progress-bar {
        background-color: rgba(255, 255, 255, 0.9);
      }
      &::-webkit-progress-bar {
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
    strong {
      text-transform: capitalize;
    }
    tbody {
      tr {
        td {
          text-align: end;
        }
      }
    }
  }
}
.dialog-battle-element {
  width: calc(100vw - 8px);
  height: calc(100vh - 8px);
  display: flex;
  flex-direction: column;
  section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    .text-panel {
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .order-panel {
      width: max-content;
      overflow-y: hidden;
      overflow-x: hidden;
      padding-right: 8px;
      display: flex;
      flex-direction: column;
      p {
        width: max-content;
        margin: 0px;
        margin-bottom: 8px;
      }
    }
  }
  menu {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 47px;
  }
}
.negativo {
  color: #d33;
}
.positivo {
  color: #35d;
}
